[Twitter]
#
# Configure your Twitter Keys as shown here commented out below.
#
# consumer_key: vYNR6NoiqxCyRFT0EJ23DlWwo
# consumer_secret: RlcsrRocT1sO7bP54fPBZSVl8idEW2krQLI38OzSXHXB8bwwoe
# access_token: 20758448-iaprzAIomDcTwQGOiXjYN5zvoHZnS0v7txUzil9po
# access_token_secret: Pl2UmkvNyTgmxBQl29bgK0pEh7vXDTmdhuUckIzV0hJIf
#
consumer_key:
consumer_secret:
access_token:
access_token_secret:
